<html>
<head>
    <title>Ingrese su informacion</title>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
    <h1>Ingrese la información solicitada</h1>
    <br />
    <div class="form">
        <form action="~/Home/MiPerfil">
            <label>Nombre:</label>
            <br />
            <input name="Nombre" type="text"/>
            <br />
            <br />
            <label>Nombre materia:</label>
            <br />
            <input name="NombreMateria" type="text" />
            <br />
            <br />
            <label>Semestre:</label>
            <br />
            <input name="Semestre" type="number" />
            <br />
            <br />
            <label>Periodo:</label>
            <br />
            <input name="Periodo" type="text" />
            <br />
            <br />
            <input type="submit" value="Registrar información"/>

        </form>
    </div>
</body>
</html>